<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Editors</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Editor Management</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/advertisement/show/all}">Show All Adverts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  th:href="@{/event/show/all}">Show All Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/article/show/all}">Show All Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/joke/all}">Show Random Joke</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/weather}">Show Todays Weather</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <h2 class="text-center" th:text="${msg}"></h2>
    <h1 class="text-center">All Editors</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Field of Operation</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="editor : ${editors}">
            <td th:text="${editor.id}"></td>
            <td th:text="${editor.username}"></td>
            <td th:text="${editor.fieldOfOperation}"></td>
            <td>
                <a class="btn btn-danger btn-sm" th:href="@{'/editor/remove/' + ${editor.id}}" >Delete</a>
                <a class="btn btn-primary btn-sm" th:href="@{'/editor/update/' + ${editor.id}}">Update</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="text-center mt-3">
        <a class="btn btn-success" th:href="@{/editor/add}">Add Editor</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
