<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Events</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:text="${title}"></a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/advertisement/show/all}">Show All Adverts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " th:href="@{/event/show/all}">Show All Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" th:href="@{/article/show/all}">Show All Articles</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-4">
    <h2 th:text="${title}"></h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Idar</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Author</th>
            <th>Content</th>
            <th>Date Posted</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempPr: ${myobjs}">
            <td th:text="${tempPr.getIdar()}"></td>
            <td th:text="${tempPr.getTitle()}"></td>
            <td th:text="${tempPr.getGenre()}"></td>
            <td th:text="${tempPr.getAuthor()}"></td>
            <td th:text="${tempPr.getContent()}"></td>
            <td th:text="${tempPr.getDatePosted()}"></td>
            <td>
                <a class="btn btn-primary btn-sm" th:href="@{'/article/update/' + ${tempPr.Idar}}" target="_self">Update</a>
                <a class="btn btn-info btn-sm" th:href="@{'/article/articleById/' + ${tempPr.Idar}}" target="_self">Look</a>
                <a class="btn btn-danger btn-sm" th:href="@{'/article/remove/' + ${tempPr.Idar}}" target="_self">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-success" th:href="@{/article/add}" target="_self">Make New Article</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
