<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update Joke</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
<div class="container mt-4">
    <h2 th:text="${title}"></h2>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/joke/all}">Show All Jokes</a>
            </li>
        </ul>
    </nav>
    <h1>Update Joke</h1>
    <form action="#" th:action="@{'/joke/update/' + ${joke.idJo}}" th:object="${joke}" th:method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" class="form-control" th:field="*{title}">
            <div class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        </div>

        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" id="author" class="form-control" th:field="*{author}">
            <div class="text-danger" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
        </div>

        <div class="form-group">
            <label for="content">Content</label>
            <input type="text" id="content" class="form-control" th:field="*{content}">
            <div class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
</body>
</html>
